#registration-form,
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 20px;
}

.reg-section,
.login-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.reg-section label,
.login-section label {
  position: absolute;
  left: -130px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 125px;
}
.reg-section input,
.login-section input {
  height: 30px;
  width: 250px;
  padding: 5px;
  font-size: 20px;
}

.button {
  width: fit-content;
  padding: 10px;
}
#cities-form {
  position: relative;
  padding: 10px;
}
.city-list {
  position: absolute;
  top: 25px;
  left: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 200px;
  overflow: auto;
}
.city-list span {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.city-list span:hover {
  background: coral;
  color: white;
}
