#registration-form,
#login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  width: 70%;
}

.reg-section,
.login-section {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}
.reg-section label,
.login-section label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: -130px;
  min-width: 125px;
  position: absolute;
}
.reg-section input,
.login-section input {
  font-size: 20px;
  height: 30px;
  padding: 5px;
  width: 250px;
}

.button {
  padding: 10px;
  width: fit-content;
}

#cities-form {
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  width: 400px;
  z-index: 3;
}
#cities-form label {
  color: #fff;
}

#cities-form input,
select,
textarea {
  background: #000;
  border: solid #fff 1px;
  color: #fff;
  height: 18px;
  margin-left: 5px;
  padding: 2px;
}

#cities-form button {
  background: #000;
  border: solid #fff 1px;
  color: #fff;
  height: 23px;
  margin-left: 4px;
}
#city-list {
  background-color: white;
  border-radius: 0 0 10px 10px;
  border-top: none;
  border: #000 solid 2px;
  display: none;
  flex-direction: column;
  height: 100px;
  justify-content: flex-start;
  left: auto;
  margin-top: 10px;
  overflow: auto;
  position: absolute;
  top: 30px;
  width: 160px;
}
#city-list span {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
#city-list span:hover {
  background: coral;
  color: white;
}
